
body{
    margin: 0;
    padding: 0;
   overflow-x: hidden;    
}
body::-webkit-scrollbar{
    display: none;
}

.success{
  
    margin: auto;
    text-align: center;
    font-size: 1.3vw;
    position: sticky;
    font-family: 'Inter';
}

#success{
    width: 40vw;
    font-weight: 500;
    font-size: 1.2vw;
    font-family: 'Inter';
    color: white;
    background-color: #6EE7B7;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    top: 5vw;
    position: sticky;
    left: 30vw;
    text-align: center;
    opacity: 1;
    display: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#failure{
    background-color: #ff6868;
    width: 100vw;
    top: 5vw;

}

#signinwarn{
    background-color: #ff6868;
    width: 100vw; 
}

.search{
    display: flex;
        width: 90vw;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        margin-bottom: 2vw;
}

.search input{
    width: 40%;
}

.milldatas{
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Inter';
    font-size: 1.2vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.milldetails{
    width: 60%;
}
.milldata{
    margin: 0.5vw;
}

.bidding{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.bidding input{
    width: 50%;
}
.bidding button{
    color: black;
    font-family: 'Inter';
    font-weight: 500;
    cursor: pointer;
    margin: 1vw;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-size: 1.2vw;
    box-sizing: border-box;
    padding: 5px;
   background-color: #95ff99;
   width: 20%;
}

.bidding button:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}


.whyus{
    width: 80%;
    margin: auto;
    height: auto;
    margin-top: 6vw;
    font-family: 'Inter';
}
.whyus h4{
    margin: 0;
    font-size: 2vw;
}
.whyus h6{
    margin: 1vw 0px;
    font-size: 1.5vw;
    color: #6bd9a6;
    font-weight: 300;
}
.whyusdet{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 2vw auto;
    justify-items: center;
    align-items: center;
    font-family: 'Inter';
    font-size: 1.2vw;
    font-weight: 500;
    color: #1F2937;
    text-align: end;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    padding: 10px;
}

.whyuscontainer{
    height: 100%;
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;

}

.whyuscontainer:hover{
    background-color: #b8ffe3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    transform: translateY(-4px);
    
}

.whyustext{
    font-weight: 500;
}

.whyusdesc{
    font-weight: 300;
}

.whyusimg{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px
}
.whyusimg img{
    width: 98%;
    height: 98%;
    border-radius: 5px
}

   
       

@media screen and (min-width: 300px) {
    @media screen and (max-width: 600px) {
        .success{
            font-size: 4vw;
        }
        #success{
            top: 10vw;
            font-size: 4vw;
        }
        #failure{
            top: 10vw;
            font-size: 4vw;
        }
        .search{
            flex-direction: column;
        }
        .search input{
            width: 100%;
            margin-bottom: 2vw;
        }
        .milldatas{
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-evenly;
            width: 90%;
            font-size: 4vw;
        }
        .milldetails{
            width: 100%;
        }
        .bidding{
            width: 100%;
        }
        .bidding button{
            font-size: 4vw;
        }
    }}

    @media screen and (min-width:760px) {
        @media screen and (max-width:1024px) {
            .success{
                font-size: 4vw;
            }
            #success{
                top: 10vw;
                font-size: 4vw;
            }
            #failure{
                top: 10vw;
                font-size: 4vw;
            }
            .search{
                flex-direction: column;
            }
            .search input{
                width: 100%;
                margin-bottom: 2vw;
            }
            .milldatas{
                align-items: flex-start;
                flex-direction: column;
                justify-content: space-evenly;
                width: 90%;
                font-size: 4vw;
            }
            .milldetails{
                width: 100%;
            }
            .bidding{
                width: 100%;
            }
            .bidding button{
                font-size: 4vw;
            }
        }}    