@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


.cont {
    display: flex;
    flex-direction: column;
    padding: 3vw;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.logo{
    height: 8vw;
    font-size: 4vw;
    color: purple;
    font-family: nunito;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    display: none;
    align-items: center;
    position: relative;
    top: 4vw;
}

.loading{
  width: 60vw;
  height: 60vh;
  position: relative;
  top: -6vw;
  display: none;
}
.loadingstatement{
    font-family: nunito;
    font-size: 1.9vw;
    /* margin: 0 10vw; */
    width: 60vw;
    position: relative;
    left: 0;
    text-align: center;
    top: -3vw;
    font-weight: 500;
}
iframe{
    width: 100%;
    height: 100%;
}
#input-cont{

    width: auto;
    min-height: 25vw;
    height: auto;
    /* margin: 10vw auto; */
    /* background-color: purple; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}

.logincont{
    color: #1F2F43;
    font-size: 2vw;
    font-family: 'nunito';
    font-weight: 600;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    transition-duration: 1s;

}

#rolecontsignin{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
   
    span{
        margin: 0vw;
    }
}



.signupcont{
    color: #1F2F43;
    font-size: 2vw;
    font-family: 'nunito';
    font-weight: 600;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    display: none;
    transition-duration: 1s;
    
}

input{
    width: 85%;
    height: 2.5vw;
    font-size: 1.2vw;
    box-sizing: border-box;
    padding: 0px 10px;
    outline: none;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.submit-btn{
    
    width: 40%;
    height: 2.5vw;
    border-radius: 5px;
    box-shadow:  0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    font-size:1.5vw ;
    outline: none;
    border: none;
    /* background-color: #6EE7B7; */
    background-color: #00BFFF;
    color: #fff;
    font-family: nunito;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    cursor: pointer;

}
/* #blocklogin{
    width: 40%;
    height: 2.5vw;
    border-radius: 5px;
    background-color: transparent; 
    z-index: 2;
} */

.cover{
    box-sizing: border-box;
    position: relative;
    width: 50%;
    height: 100%;
    background-color: white;
    color: #fff;
    z-index: 0;
    left: 0%;
    transition-duration: 1s;
    border-radius: 0px 5px 5px 0px;
    font-family: nunito;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 4vw;
    padding: 30px;
}
.cover p{
    margin: 0;
}
.signbtn-holder{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.navbtn1{
    position: relative;
    z-index: 2;
    background-color: #00BFFF;
    color: white;
    box-shadow: 0px 1px 3px black;
    width: 12vw;
    height: 2vw;
    border-radius: 4px;
    border: none;
    outline: none;
    top: -5vw;
}
.navbtn1 a{
    color: #fff;
    font-family: nunito;
    font-weight: 600;
  font-size: 1.5vw;
}
.welcomeback{
    text-align: center;
    font-size: 2vw;
    font-family: nunito;
    color: Black;
    font-weight: 600;
    position: relative;
    top: -6vw;
}
#welcomebackcont{
  display: none;
  width: 50vw;
    margin: auto;
    flex-direction: column;
    position: relative;
    align-items: center;
    top: 18vw;
}

#welcomebackprovidercont{
    display: none;
    width: 50vw;
      margin: auto;
      flex-direction: column;
      position: relative;
      align-items: center;
      top: 18vw;
}

#welcomebacktransportcont{
  display: none;
    width: 50vw;
      margin: auto;
      flex-direction: column;
      position: relative;
      align-items: center;
      top: 18vw;
}

.celebration1{
    width: 15vw;
    height: 15vw;
    position: relative;
    top: -6vw;
}
#newusercont{
    display: none;
    width: 50vw;
      margin: auto;
      flex-direction: column;
      position: relative;
      align-items: center;
      top: 0vw;
  }
  .celebration{
    width: 35vw;
    height: 35vw;
    position: relative;
    top: 0vw;
  }

  .wrongpass{
    display: initial;
    color: #dc0000;
    z-index: 2;
    position: relative;
    font-size: 1.25vw;
    font-family: 'Nunito';
    font-weight: 500;
    text-align: center;
  }

  .selectdp-head{
    font-size: 1.5vw;
  }
  
  .rolecont{
    display: none  ;
        width: 60vw;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.5vw;
        font-family: 'Inter';
        color: #1F2F43;
        font-weight: 400;
  }
  .rolecont input{
    accent-color: #6EE7B7;
    border: none;
    box-shadow: none;
    /* font-size: 1vw; */
    width: 1.5vw;
    border: none;
    outline: none;
  }
  .rolecont span{
    margin-left: -4vw;
    font-size: 1.5vw;
    font-weight: 400;
  }

  .services{
    box-sizing: border-box;
    padding: 10px;    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    padding: 10px;
  }
  .signup_services{
    display: none;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 50vw;
    font-family: 'Inter';
    font-size: 1.5vw;
    color: #1F2F43;
  }

  .personaldet{
    display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        height: 6vw;
  }
  .personaldet input{
    width: 40%;
    height: 2.5vw;
    font-size: 1.5vw;
    box-sizing: border-box;
    padding: 0px 10px;
    outline: none;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
  }
  .serviceconts{
    display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 70vw;
  }
  .serviceconts h4{
    margin: 10px 0px;
    font-size: 1.3vw;
    font-weight: 300;
  }
  .allservices{
    display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        font-size: 1.2vw;
  }

  .servicename{
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

  }

  .servicename:hover{
    background-color: #bffce3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    transform: translateY(-2px);
    color: #1F2F43;
  }

  .address{
    display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 98%;
  }
  .address input{
    width: 40%;
  }

  #signup_transport{
    position: relative ;
    z-index: 2;
  }

@media screen and (min-width:300px) {
    @media screen and (max-width:600px) {
        .logo{
            top: -20vw;
            font-size: 10vw;
        }
        .loading{
            top: -15vw;
        }
        .loadingstatement{
            font-size: 4.9vw;
            width: 80vw;
            left: -10vw;
            top: -40vw;
        }
        #input-cont{
            /* flex-direction: column-reverse; */
            width: 98vw;
            height: 60vw;
        }
        .logincont{
            width: 100%;
            font-size: 5vw;
        }
       .cover{
        font-size: 6vw;
        padding: 5px;
        width: 35%;
        
       }
       input{
        width: 95%;
        font-size: 4.2vw;
        height: 9vw;
       }
       .submit-btn{
        height: 7.5vw;
        font-size: 4.5vw;
       }
       .signupcont{
        width: 100%;
        font-size: 5vw;
       }
       #welcomebackcont{
        width: 95vw;
        top: 47vh;
       }
       #welcomebackprovidercont{
        width: 95vw;
        top: 47vh;
       }
       #welcomebacktransportcont{
        width: 95vw;
        top: 47vh;
       }
       #newusercont{
        width: 95vw;
        top: 47vh;
       }
       .celebration{
        
            width: 35vw;
            height: 35vw;
            position: relative;
            top: -25vw;
           
       }
       .welcomeback{
        font-size: 5vw;
        top: -25vw;
       }
       .celebration1{
        width: 35vw;
        height: 35vw;
        position: relative;
        top: -25vw;
       }
       .navbtn1{
        width: 16vw;
        height: 6vw;
        top: -25vw;
       }
       .navbtn1 a{
        font-size: 4.5vw;
       }
       #wrongpass{
         font-size: 3.5vw;
       }
       .rolecont{
        font-size: 3.5vw;
        width: 98vw;
       }
       .rolecont span{
        font-size: 3.5vw;

       }
       .selectdp-head{
        font-size: 3.5vw;
       }
       .rolecont input{
        width: 3vw;
        height: 3vw;
       }
       .signup_services{
        font-size: 5vw;
        height: 150vh;
        position: absolute;
        top: 0;
        background-color: white;
       }
       .personaldet{
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        width: 100%;
       }
       .personaldet input{
        width: 90%;
        height: 9vw;
        font-size: 4vw;
        margin: 2vw;
       }
       .services{
        width: 100%;
        background-color: white;
       }
       .serviceconts{
        width: 100%;
        height: auto;
    
       }
         .serviceconts h4{
          font-size: 4vw;
         }
            .allservices{
                width: 100%;
                flex-wrap: wrap;
                height: auto;
                font-size: 3.2vw;
            }
    }
}
@media screen and (min-width:760px) {
    @media screen and (max-width:1024px) {
        .cont{
            width: 96vw;
        }
        .logo{
            top: -20vw;
            font-size: 10vw;
        }
        .loading{
            top: -15vw;
        }
        .loadingstatement{
            font-size: 4.9vw;
            width: 80vw;
            left: -10vw;
            top: -40vw;
        }
        #input-cont{
            /* flex-direction: column-reverse; */
            width: 90vw;
            height: 60vw;
        }
        .logincont{
            width: 100%;
            font-size: 5vw;
        }
       .cover{
        font-size: 6vw;
        padding: 5px;
        width: 35%;
        
       }
       input{
        width: 95%;
        font-size: 3.2vw;
        height: 9vw;
       }
       .submit-btn{
        height: 7.5vw;
        font-size: 4.5vw;
       }
       .signupcont{
        width: 100%;
        font-size: 5vw;
       }
       #welcomebackcont{
        width: 95vw;
        top: 47vh;
       }
       #newusercont{
        width: 95vw;
        top: 47vh;
       }
       .celebration{
        
            width: 35vw;
            height: 35vw;
            position: relative;
            top: -25vw;
           
       }
       .welcomeback{
        font-size: 5vw;
        top: -25vw;
       }
       .celebration1{
        width: 35vw;
        height: 35vw;
        position: relative;
        top: -25vw;
       }
       .navbtn1{
        width: 16vw;
        height: 6vw;
        top: -25vw;
       }
       .navbtn1 a{
        font-size: 4.5vw;
       }
       #wrongpass{
         font-size: 3.5vw;
       }
       .rolecont{
        font-size: 3.5vw;
        width: 90vw;
       }
       .rolecont span{
        font-size: 3.5vw;

       }
       .selectdp-head{
        font-size: 3.5vw;
       }
       .rolecont input{
        width: 3vw;
        height: 3vw;
       }
       .signup_services{
        font-size: 5vw;
        height: 150vh;
        position: absolute;
        top: 0;
        background-color: white;
       }
       .personaldet{
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        width: 100%;
       }
       .personaldet input{
        width: 90%;
        height: 9vw;
        font-size: 3.2vw;
        margin: 2vw;
       }
       .services{
        width: 90%;
        background-color: white;
       }
       .serviceconts{
        width: 100%;
        height: auto;
    
       }
         .serviceconts h4{
          font-size: 4vw;
         }
            .allservices{
                width: 100%;
                flex-wrap: wrap;
                height: auto;
                font-size: 3.2vw;
            }
    }}