.navbar{
    display: flex;
        align-items: center;
        justify-content: space-between;
        height: 2.5vw;
        font-family: 'Inter', sans-serif;
        font-size: 1.5vw;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 2;
}

.head{
    width: 20%;
    text-align: center;
    font-weight: 800;
}
.selbtns{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-evenly;
}

.selbtns button{
    font-size: 1vw;
    font-family: 'Inter';
    border-radius: 5px;
    border: none;
    font-weight: 500;
    box-sizing: border-box;
    padding: 6px;
    /* box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); */
    cursor: pointer;
    background-color: transparent;
}
.selbtns button:hover{
    background-color: #00BFFF;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    transition: all 0.2s ease-in-out;
    transform: translateY(-2px);
    color: white;
}

@media screen and (min-width: 300px) {
    @media screen and (max-width: 600px) {
        .navbar{
            height: 7vw;
            font-size: 3vw;
            position: sticky;
            top: 0vw;
            background-color: white;
        }
        .head{
            width: 30%;
            font-size: 4vw;
        }
        .selbtns{
            width: 70%;
            justify-content: space-evenly;
        }
        .selbtns button{
            font-size: 3vw;
            padding: 5px;
        }
    }}

    @media screen and (min-width:760px) {
        @media screen and (max-width:1024px) {
            .navbar{
                height: 7vw;
                font-size: 3vw;
                position: sticky;
                top: 0vw;
                background-color: white;
            }
            .head{
                width: 30%;
                font-size: 4vw;
            }
            .selbtns{
                width: 70%;
                justify-content: space-evenly;
            }
            .selbtns button{
                font-size: 3vw;
                padding: 5px;
            }
        }}