.userdata{
    display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 100vw;
        height: auto;
        border-radius: 10px;
        font-family: 'Inter';
        font-size: 1.4vw;
        width: 90vw;
        margin: auto;
        flex-direction: column;
        top: 3vw;
        position: relative;
        margin-bottom: 5vw;
}
.user{
    margin: 0.4vw;
}

.paymenthistory{
    font-family: 'Inter';
    font-size: 1.5vw;
    width: 100vw;
    text-align: center;
}

.payments{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100vw;
    height: auto;
    border-radius: 10px;
    font-family: 'Inter';
    font-size: 1.4vw;
    width: 80vw;
    margin: auto;
    flex-direction: column;
    top: 3vw;
    position: relative;
}
.paymentdet{
    margin: 0.5vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
}
.paydet{
    margin: 0.2vw;
}

@media screen and (min-width: 300px) {
    @media screen and (max-width: 600px) {
        .userdata{
            font-size: 3.5vw;
            margin-bottom: 10vw;
        }
        .paymenthistory{
            font-size: 4vw;
            font-weight: 600;
            margin-bottom: 2vw;
        }
        .paymentdet{
            font-size: 3.5vw;
        }
    }}

    @media screen and (min-width:760px) {
        @media screen and (max-width:1024px) {
            .userdata{
                font-size: 3.5vw;
                margin-bottom: 10vw;
            }
            .paymenthistory{
                font-size: 4vw;
                font-weight: 600;
                margin-bottom: 2vw;
            }
            .paymentdet{
                font-size: 3.5vw;
            }
        }}