.lorrydet {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.lorrydet input {
    width: 40%;
}

/* For screens between 300px and 600px */
@media screen and (max-width: 600px) and (min-width: 300px) {
    .lorrydet input {
        width: 100%;
    }
}

/* For screens between 760px and 1024px */
@media screen and (max-width: 1024px) and (min-width: 760px) {
    .lorrydet input {
        width: 100%;
    }
}
